/* 公共样式 */
/* 禁止选择 */
/* 禁止手机点击出现蓝条 */
*{padding:0;margin:0;-moz-user-select:none;-webkit-user-select:none;-ms-user-select:none;-khtml-user-select:none;user-select:none;-webkit-tap-highlight-color:rgba(255,0,0,0);-webkit-appearance:none}
a{text-decoration:underline}
li,ul{list-style:none}
.clear{clear:both}

/* 自定义动画 */
/* 进场渐入 */
@keyframes bodyFadein{
	0%{opacity:0}
	100%{opacity:1}
}

/* 内容开始 */
body{position: relative; width: 100%; height: 100vh; overflow: hidden; opacity:0; animation:bodyFadein 1s ease forwards 1;}
.pogoSlider img{width: 100%; height: 102%; margin-top: -1%;}
.pogoSlider-nav{display: none;}

/*common页面样式*/
._waitPage{background:white; width:100%; height: 100vh; z-index:999999; position:absolute; top:0}
iframe{width: 100%; height: 100vh; border: none;}

/*待机页*/
.map-hearder{width: 100%; height: 100vh; z-index: -10;}
.map-hearder img{width: 100%; height: 100%; z-index: -10;}
.btnAll{width: 100%; text-align: center;}


/*广西地图*/
.map-guangxi{position: absolute; top: 0; width: 50%;  float: left; }
.map-guangxi-bg{position: absolute; top: 21%;left: 2%; z-index: 10;width: 850px;}
.map-guangxi-bg img{width: 100%;}
.mapGX{float: left;}
.mapGX img{width: 100%;}

/*广西地图色块*/
.map-nanning{position: absolute; left: 37.5%; top: 537px; width: 246px;}
.map-baise{position: absolute;left: 38px; top: 409px; width: 378px;}
.map-hechi{position: absolute; top:352px; left: 272px; width: 289px;}
.map-liuzhou{position: absolute; top: 296px;left: 496px; width: 175px;}
.map-guilin{position: absolute; top: 253px; right: 145px; width: 206px;}
.map-chongzuo{position: absolute; top: 622px; left: 262px; width: 178px;}
.map-laibin{position: absolute; top: 486px; left: 473px; width: 229px;}
.map-hezhou{position: absolute; top: 398px; left: 716px; width: 174px;}
.map-fangchenggang{position: absolute; top: 735px; left: 363px; width: 129px;}
.map-qinzhou{position: absolute; top: 692px; left: 451px; width: 191px;}
.map-guigang{position: absolute; top: 554px; left: 562px; width: 164px;}
.map-beihai{position: absolute; top: 787px; left: 524px; width: 107px;}
.map-yulin{position: absolute; top: 645px; left: 600px; width: 156px;}
.map-wuzhou{position: absolute; top: 494px; left: 689px; width: 155px;}

/*广西地图圆点*/
.mapYuan img{width: 22px; height: 22px;}
.map-guangxi-yuan .mapYuan p{color: white; font-size: 20px;}
.mapYuan{text-align: center;}
.maps-nanning{position: absolute; left: 18.5%; top: 622px; width: 246px;}
.maps-baise{position: absolute;left: 76px; top: 584px; width: 378px;}
.maps-hechi{position: absolute; top:450px; left: 255px; width: 289px;}
.maps-liuzhou{position: absolute; top: 445px;left: 484px; width: 175px;}
.maps-guilin{position: absolute; top: 350px; left: 568px; width: 206px;}
.maps-chongzuo{position: absolute; top: 708px; left: 231px; width: 178px;}
.maps-laibin{position: absolute; top: 538px; left: 458px; width: 229px;}
.maps-hezhou{position: absolute; top: 449px; left: 729px; width: 174px;}
.maps-fangchenggang{position: absolute; top: 752px; left: 360px; width: 129px;}
.maps-qinzhou{position: absolute; top: 707px; left: 460px; width: 191px;}
.maps-guigang{position: absolute; top: 576px; left: 589px; width: 164px;}
.maps-beihai{position: absolute; top: 774px; left: 518px; width: 107px;}
.maps-yulin{position: absolute; top: 680px; left: 609px; width: 156px;}
.maps-wuzhou{position: absolute; top: 576px; left: 670px; width: 155px;}

/*广西地图线条*/
.map-guangxi-line{position: absolute; top: 10%;left: 10%;}
.map-baise-line{position: absolute; top: 435px; left: 185px;transform: rotate(-260deg);}
.map-hechi-line{position: absolute; top: 381px; left: 248px;transform: rotate(-25deg);}
.map-chongzuo-line{position: absolute; top: 510px; left: 208px;transform: rotate(-298deg);}
.map-fangchenggang-line{position: absolute; top: 565px; left: 254px;transform: rotate(-338deg);}
.map-beihai-line{position: absolute; top: 553px; left: 334px;transform: rotate(-391deg);}
.map-qianzhou-line{position: absolute; top: 544px; left: 323px;transform: rotate(-402deg);}
.map-yulin-line{position: absolute; top: 485px; left: 391px;transform: rotate(-434deg);}
.map-guigang-line{position: absolute; top: 443px; left: 381px;transform: rotate(-463deg);}
.map-wuzhou-line{position: absolute; top: 405px; left: 416px;transform: rotate(-460deg);}
.map-hezhou-line{position: absolute; top: 290px; left: 454px;transform: rotate(-477deg);}
.map-laibin-line{position: absolute; top: 466px; left: 326px;transform: rotate(-492deg);}
.map-liuzhou-line{position: absolute; top: 378px; left: 330px;transform: rotate(-512deg);}
.map-guilin-line{position: absolute; top: 263px; left: 379px;transform: rotate(-505deg);}

.map-baise-line img{height: 220px; width: 2px;}
.map-hechi-line img{height: 196px; width: 2px;}
.map-chongzuo-line img{height: 186px; width: 2px;}
.map-fangchenggang-line img{height: 140px; width: 2px;}
.map-beihai-line img{height: 175px; width: 2px;}
.map-qianzhou-line img{height: 115px; width: 2px;}
.map-yulin-line img{height: 210px; width: 2px;}
.map-guigang-line img{height: 190px; width: 2px;}
.map-wuzhou-line img{height: 270px; width: 2px;}
.map-hezhou-line img{height: 370px; width: 2px;}
.map-laibin-line img{height: 120px; width: 2px;}
.map-liuzhou-line img{height: 205px; width: 2px;}
.map-guilin-line img{height: 335px; width: 2px;}

/*中国地图*/
.map-china{position: absolute; top: 10%; width: 50%; float: right; right: 2%;}
.map-china-bg{position: absolute; top: 190px;right: 3%; z-index: 10;width: 850px;}
.map-china-bg img{width: 100%;}
.mapChina img{width: 100%;}

/*中国地图色块*/
.map-xinjiang{position: absolute; left: 91px; top: 154px; width: 334px;}
.map-neimeng{position: absolute;left: 291px; top: 109px; width: 422px;}
.map-qinghai{position: absolute; top:356px; left: 314px; width: 175px;}
.map-gansu{position: absolute; top: 302px;left: 358px; width: 220px;}
.map-ningxia{position: absolute; top: 221px; left: 425px; width: 364px;}
.map-shandong{position: absolute; top: 383px; left: 665px; width: 97px;}
.map-shanghai{position: absolute; top: 494px; left: 713px; width: 57px;}
.map-sichuan{position: absolute; top: 442px; left: 419px; width: 178px;}
.map-hebei{position: absolute; top: 273px; left: 630px; width: 121px;}
.map-hubei{position: absolute; top: 402px; left: 598px; width: 90px;}
.map-henan{position: absolute; top: 326px; left: 594px; width: 60px;}
.map-beihai{position: absolute; top: 787px; left: 524px; width: 107px;}
.map-chongqing{position: absolute; top: 366px; left: 534px; width: 77px;}
.map-hunan{position: absolute; top: 467px; left: 573px; width: 110px;}
.map-fujian{position: absolute; top: 541px; left: 682px; width: 69px;}
.map-xizang{position: absolute; top: 348px; left: 125px; width: 308px;}
.map-3{position: absolute; top: 71px; left: 659px; width: 209px;}
.map-heilongjiang{position: absolute; top: 74px; left: 770px; width: 170px;}
.map-11{position: absolute; top: 299px; left: 719px; width: 75px;}
.map-china .map-guangxi{position: absolute; top: 578px; left: 512px; width: 123px;}
.map-yunnan{position: absolute; top: 524px; left: 400px; width: 136px;}
.map-24{position: absolute; top: 531px; left: 499px; width: 91px;}
.map-23{position: absolute; top: 517px; left: 577px; width: 82px;}
.map-hainan{position: absolute; top: 679px; left: 572px; width: 39px;}
.map-jiangxi{position: absolute; top: 515px; left: 648px; width: 72px;}
.map-guangdong{position: absolute; top: 591px; left: 561px; width: 146px;}
.map-anhui{position: absolute; top: 450px; left: 662px; width: 70px;}
.map-jiangsu{position: absolute; top: 432px; left: 681px; width: 84px;}
.map-28{position: absolute; top: 587px; left: 752px; width: 26px;}

/*中国地图圆点*/
.mapYuan p{z-index: 1000;}
.mapYuan span{z-index: 1000;}
.mapYuan img{z-index: 1;}
.map-title2{color: white; z-index: 1000;}
.mapYuan img{width: 15px; height: 15px;}
.map-china-yuan .mapYuan p{font-size: 13px;}
.map-title1{color: red !important;}
.map-title{font-size: 12px;}
.mapYuan{text-align: center;}
.maps-xinjiang{position: absolute; right: 31.5%; top: 340px; width: 246px;}
.maps-neimeng{position: absolute;right: 277px; top: 420px; width: 378px;}
.maps-qinghai{position: absolute; top:490px; right: 482px; width: 289px;}
.maps-gansu{position: absolute; top: 437px;right: 497px; width: 175px;}
.maps-ningxia{position: absolute; top: 429px; right: 405px; width: 206px;}
.maps-shandong{position: absolute; top: 497px; right: 207px; width: 178px;}
.maps-shanghai{position: absolute; top: 624px; right: 140px; width: 229px;}
.maps-sichuan{position: absolute; top: 580px; right: 454px; width: 174px;}
.maps-hebei{position: absolute; top: 412px; right: 269px; width: 129px;}
.maps-hubei{position: absolute; top: 535px; right: 262px; width: 191px;}
.maps-henan{position: absolute; top: 471px; right: 285px; width: 164px;}
.maps-chongqing{position: absolute; top: 541px; right: 372px; width: 107px;}
.maps-hunan{position: absolute; top: 584px; right: 309px; width: 156px;}
.maps-fujian{position: absolute; top: 702px; right: 178px; width: 155px;}
.maps-zhejiang{position: absolute; top: 671px; right: 167px; width: 155px;}
.maps-xizang{position: absolute; top: 523px; right: 662px; width: 155px;}
.maps-heilongjiang{position: absolute; top: 224px; right: 42px; width: 155px;}
.maps-11{position: absolute; top: 681px; right: 209px; width: 155px;}
.maps-guangxi{position: absolute; top: 702px; right: 337px; width: 155px;}
.maps-yunnan{position: absolute; top: 678px; right: 465px; width: 155px;}
.maps-hainan{position: absolute; top: 777px; right: 334px; width: 155px; }
.maps-jiangxi{position: absolute; top: 638px; right: 235px; width: 155px;}
.maps-guangdong{position: absolute; top: 700px; right: 266px; width: 155px;}
.maps-anhui{position: absolute; top: 570px; right: 215px; width: 155px;}
.maps-jiangsu{position: absolute; top: 561px; right: 188px; width: 155px;}
.maps-jilin{position: absolute; top: 284px; right: 21px; width: 155px;}
.maps-liaoning{position: absolute; top: 345px; right: 74px; width: 155px;}
.maps-beijing{position: absolute; top: 370px; right: 244px; width: 206px;}
.maps-shanxi{position: absolute; top: 389px; right: 360px; width: 155px;}
.maps-tianjin{position: absolute; top: 393px; right: 214px; width: 155px;}
.maps-shanxi{position: absolute; top: 502px; right: 398px; width: 155px;}
.maps-guizhou{position: absolute; top: 603px; right: 398px; width: 155px;}
.maps-alianqiu{position: absolute; top: 667px; right: 748px; width: 84px;}
.maps-Gambia{position: absolute; top: 801px; right: 907px; width: 84px;}
.maps-Angola{position: absolute; top: 903px; right: 824px; width: 84px;}
.maps-Ethiopia{position: absolute; top: 808px; right: 733px; width: 84px;}
.maps-thailand{position: absolute; top: 847px; right: 371px; width: 84px;}
.maps-Malaysia{position: absolute; top: 981px; right: 331px; width: 84px;}
.maps-Laowo{position: absolute; top: 847px; right: 310px; width: 84px;}
.maps-Cambodia{position: absolute; top: 903px; right: 304px; width: 84px;}
.maps-Indonesia{position: absolute; top: 1008px; right: 226px; width: 84px;}
.maps-Vietnam{position: absolute; top: 814px; right: 263px; width: 84px;}
.maps-Shanxi{position: absolute; top: 407px; right: 309px; width: 206px;}

.maps-hainan p{color: red !important;}

/*中国地图线条*/
.map-china-line{position: absolute; top: 10%;right: 10%;}
.map-yunnan-line{position: absolute; top: 554px; right: 286px;transform: rotate(-261deg);}
.map-guangdong-line{position: absolute; top: 597px; right: 184px;transform: rotate(-93deg);}
.map-sichuan-line{position: absolute; top: 487px; right: 284px;transform: rotate(-404deg);}
.map-guizhou-line{position: absolute; top: 529px; right: 251px;transform: rotate(-389deg);}
.map-fujian-line{position: absolute; top: 549px; right: 155px;transform: rotate(-464deg);}
.map-zhejiang-line{position: absolute; top: 525px; right: 155px;transform: rotate(-479deg);}
.map-jiangxi-line{position: absolute; top: 543px; right: 166px;transform: rotate(-483deg);}
.map-hunan-line{position: absolute; top: 508px; right: 207px;transform: rotate(-525deg);}
.map-chongqing-line{position: absolute; top: 468px; right: 229px;transform: rotate(-541deg);}
.map-anhui-line{position: absolute; top: 477px; right: 153px;transform: rotate(-499deg);}
.map-shanxi-line{position: absolute; top: 426px; right: 254px;transform: rotate(-554deg);}
.map-xizang-line{position: absolute; top: 359px; right: 388px;transform: rotate(-601deg);}
.map-liuzhou-line{position: absolute; top: 378px; right: 330px;transform: rotate(-512deg);}
.map-xinjiang-line{position: absolute; top: 214px; right: 384px;transform: rotate(-580deg);}
.map-qinghai-line{position: absolute; top: 378px; right: 331px;transform: rotate(-584deg);}
.map-gansu-line{position: absolute; top: 342px; right: 310px;transform: rotate(-572deg);}
.map-neimeng-line{position: absolute; top: 347px; right: 251px;transform: rotate(-549deg);}
.map-henan-line{position: absolute; top: 394px; right: 200px;transform: rotate(-527deg);}
.map-beijing-line{position: absolute; top: 294px; right: 193px;transform: rotate(-527deg);}
.map-hubei-line{position: absolute; top: 459px; right: 192px;transform: rotate(-521deg);}
.map-hebei-line{position: absolute; top: 339px; right: 181px;transform: rotate(-523deg);}
.map-shandong-line{position: absolute; top: 410px; right: 159px;transform: rotate(-511deg);}
.map-jiangsu-line{position: absolute; top: 462px; right: 140px;transform: rotate(-496deg);}
.map-shanghai-line{position: absolute; top: 503px; right: 138px;transform: rotate(-478deg);}
.map-hainan-line{position: absolute; top: 630px; right: 220px;transform: rotate(-362deg);}
.map-heilongjiang-line{position: absolute; top: 115px; right: 75px;transform: rotate(-329deg);}
.map-jilin-line{position: absolute; top: 166px; right: 57px;transform: rotate(-324deg);}
.map-liaoning-line{position: absolute; top: 236px; right: 86px;transform: rotate(-324deg);}
.map-ningxia-line{position: absolute; top: 348px; right: 272px;transform: rotate(-197deg);}
.map-hebei-line{position: absolute; top: 336px; right: 180px;transform: rotate(-165deg);}
.map-tianjin-line{position: absolute; top: 310px; right: 159px;transform: rotate(-159deg);}
.map-alianqiu-line{position: absolute; top: 439px; right: 408px;transform: rotate(-86deg);}
.map-Gambia-line{position: absolute; top: 414px; right: 486px;transform: rotate(-100deg);}
.map-Ethiopia-line{position: absolute; top: 501px; right: 398px;transform: rotate(-106deg);}
.map-Angola-line{position: absolute; top: 486px; right: 445px;transform: rotate(-113deg);}
.map-thailand-line{position: absolute; top: 628px; right: 222px;transform: rotate(-181deg);}
.map-laowo-line{position: absolute; top: 625px; right: 191px;transform: rotate(-202deg);}
.map-Cambodia-line{position: absolute; top: 625px; right: 188px;transform: rotate(-199deg);}
.map-Malaysia-line{position: absolute; top: 629px; right: 201px;transform: rotate(-188deg);}
.map-yuenan-line{position: absolute; top: 606px; right: 165px;transform: rotate(-225deg);}
.map-Indonesia-line{position: absolute; top: 612px; right: 148px;transform: rotate(-206deg);}
.map-Shanxi-line{position: absolute; top: 321px; right: 222px;transform: rotate(-538deg);}

.map-china-line img{width: 1px;}
.map-yunnan-line img{height: 116px;}
.map-guangdong-line img{height: 55px;}
.map-sichuan-line img{height: 160px;}
.map-guizhou-line img{height: 100px;}
.map-fujian-line img{height: 115px;}
.map-zhejiang-line img{height: 130px;}
.map-jiangxi-line img{height: 100px;}
.map-hunan-line img{height: 110px;}
.map-chongqing-line img{height: 150px;}
.map-anhui-line img{height: 160px;}
.map-shanxi-line img{height: 205px;}
.map-xizang-line img{height: 355px;}
.map-liuzhou-line img{height: 205px;}
.map-xinjiang-line img{height: 455px;}
.map-qinghai-line img{height: 280px;}
.map-gansu-line img{height: 300px;}
.map-neimeng-line img{height: 280px;}
.map-henan-line img{height: 220px;}
.map-beijing-line img{height: 335px;}
.map-hubei-line img{height: 160px;}
.map-hebei-line img{height: 270px;}
.map-shandong-line img{height: 220px;}
.map-jiangsu-line img{height: 180px;}
.map-shanghai-line img{height: 160px;}
.map-hainan-line img{height: 68px;}
.map-heilongjiang-line img{height: 550px;}
.map-jilin-line img{height: 490px;}
.map-liaoning-line img{height: 420px;}
.map-ningxia-line img{height: 280px;}
.map-hebei-line img{height: 280px;}
.map-tianjin-line img{height: 320px;}
.map-alianqiu-line img{height: 360px;}
.map-Gambia-line img{height: 525px;}
.map-Ethiopia-line img{height: 360px;}
.map-Angola-line img{height: 480px;}
.map-thailand-line img{height: 130px;}
.map-laowo-line img{height: 140px;}
.map-Cambodia-line img{height: 195px;}
.map-Malaysia-line img{height: 270px;}
.map-yuenan-line img{height: 145px;}
.map-Indonesia-line img{height: 330px;}
.map-Shanxi-line img{height: 300px;}

/* 广西地图飞机样式 */
.airBaise{transform: rotate(-85deg);}
.airHechi{transform: rotate(-28deg);}
.airLiuzhou{transform: rotate(28deg);}
.airGuilin{transform: rotate(35deg);}
.airChongzuo{transform: rotate(-110deg);}
.airLaibin{transform: rotate(55deg);}
.airHezhou{transform: rotate(60deg);}
.airFangchenggang{transform: rotate(-140deg);}
.airQinzhou{transform: rotate(-210deg);}
.airGuigang{transform: rotate(80deg);}
.airBeihai{transform: rotate(155deg);}
.airYulin{transform: rotate(110deg);}
.airWuzhou{transform: rotate(90deg);}

/* 中国地图飞机样式 */
.airXinjiang{transform: rotate(-50deg);}
.airNeimeng{transform: rotate(-10deg);}
.airQinghai{transform: rotate(-50deg);}
.airGansu{transform: rotate(-45deg);}
.airNingxia{transform: rotate(-20deg);}
.airShandong{transform: rotate(25deg);}
.airShanghai{transform: rotate(55deg);}
.airSichuan{transform: rotate(-50deg);}
.airHebei{transform: rotate(25deg);}
.airHubei{transform: rotate(25deg);}
.airHenan{transform: rotate(20deg);}
.airChongqing{transform: rotate(5deg);}
.airHunan{transform: rotate(20deg);}
.airFujian{transform: rotate(82deg);}
.airzhejiang{transform: rotate(70deg);}
.airxizang{transform: rotate(-60deg);}
.airHeilongjiang{transform: rotate(30deg);}
.airYunnan{transform: rotate(-80deg);}
.airHainan{transform: rotate(190deg);}
.airJiangxi{transform: rotate(70deg);}
.airGuangdong{transform: rotate(95deg);}
.airAnhui{transform: rotate(38deg);}
.airJiangsu{transform: rotate(38deg);}
.airjilin{transform: rotate(40deg);}
.airLiaoning{transform: rotate(35deg);}
.airBeijing{transform: rotate(10deg);}
.airShanxi{transform: rotate(10deg);}
.airTianjin{transform: rotate(20deg);}
.airShanxii{transform: rotate(-20deg);}
.airGuizhou{transform: rotate(-20deg);}
.airAlianqiu{transform: rotate(-80deg);}
.airGambia{transform: rotate(-100deg);}
.airAngola{transform: rotate(-100deg);}
.airEthiopia{transform: rotate(-100deg);}
.airthailand{transform: rotate(175deg);}
.airMalaysia{transform: rotate(180deg);}
.airLaowo{transform: rotate(160deg);}
.airCambodia{transform: rotate(160deg);}
.airIndonesia{transform: rotate(160deg);}
.airVietnam{transform: rotate(140deg);}
